body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bigwrapper {
    padding-bottom: 80px;
    background-color: rgb(199, 194, 194);
}
.about-us-title {
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.our-team-title {
    margin: 40px 0 20px;
    color: #474e5d;
    font-size: 36px;
}

.about-content {
    background-color: white;
}

.wrapper {
    padding: 0 16px;
}

.wrapper::after,
.row::after {
    content: '';
    clear: both;
    display: table;
}

.person-title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.wrapper h2 {
    height: 9vh;
}